.edit-page {

  padding: 20px 200px;

  .breadcrumb {
    color: #8d8d8d;
    background-color: #cfe9f0;
  }

  .page-content {
    background-color: #FFF;

    .change-img-button {
      display: block;
      margin: 0px auto;
    }

    .edit-form {
      padding: 20px;


      .submit-button-container {
        justify-content: flex-end;

        .submit-button{
          width: 100%;
        }

        .delete-button{
          width: 100%;
        }
      }

      .input-style{
        width: 100%;
      }

      .mat-error {
        font-size: 12px;
      }
    }
  }
}
