<div class="page-container">
	<div class="side-bar" >
		<ul class="nav flex-column">
	  	<li class="nav-item">
	    	<a class="nav-link active" routerLink="home">
					<ion-icon name="list"></ion-icon> <span> Home</span>
				</a>
	  	</li>
	  	<li class="nav-item">
	    	<a class="nav-link" routerLink="new-movie">
					<ion-icon name="add"></ion-icon> <span> Add Movie</span>
				</a>
	  	</li>
		</ul>
	</div>
	<div class="content-container"> <!-- changing content to page moves web app over to the right a bit, adds a column?-->
 		<router-outlet></router-outlet>
	</div>
</div>
