.filter-by-rating {
  color: #7d6c6c;

  .title {
    align-self: center;
  }

  .rating-slider {
    width: 80%;
  }
}

.movies-list {
  padding: 5% 5%; 

  .text-col {
    margin: auto 0px;
  }
  .actions-col {
    text-align: center;
    margin: auto 0px;

    .action {
      line-height: 1;
    }
    .icon {
      font-size: 20px;
    }
  }
}

::ng-deep {

  .mat-slider-track-fill {
    background-color: red !important;
  }

  .mat-slider-thumb-label {
    transform: rotate(45deg) !important;
    border-radius: 50% 50% 0 !important;
    background-color: #e60707 !important;
  }
  
  .mat-slider-thumb {
    transform: scale(0) !important;
  }
  
  .mat-slider-thumb-label-text {
    opacity: 1 !important;
  }

}
